# testing
**/.tox

# coverage
**/htmlcov
.coverage
coverage.xml

# dev
main.py
box/*
data/
results/
logs/
config/
logs
output
data/
result/
.dev.py
.dev
dev.py
dev*/
**.dev/
requirements_*.txt

# caches
**/logs
**/__pycache__
**/.pytest_cache
**/*.egg-info
**/dist
**/docs/build
**/_build
.vscode/*
.python-version


# system files
.DS_Store

# virtual environments
**/venv
venv
virtual_env/
virtualenv/

# environment
env
.env*
